# Ignore virtual environments
.venv/

# Ignore dataset files
data/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore system-specific files
.DS_Store
Thumbs.db

#Ignore vscode files
.vscode/

.env

#loguru logs
logs/*

#pdoc docs
docs/*

#poetry build files
dist/

#mlflow 
mlruns/
mlflow.db